body {
  @apply bg-gray-200;
}

.menu-button {
  @apply bg-purple-800;
  @apply p-2;
  @apply rounded-2xl;
  @apply border-white;
  @apply border-2;
  @apply w-full;
  @apply mb-2;
  @apply focus:outline-none;
}

.menu-button-active {
  @apply bg-white;
  @apply border-purple-800;
  @apply text-purple-800;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  @apply animate-spin;
}
