{{!-- Header --}}
  <div class="bg-blue-800 text-white p-4 text-center">
  <div class="text-2xl">Welcome to Frameworkless JAMstack</div>
  <div class="text-sm">Fast paced development with no Virtual DOM</div>
</div>

<div class="flex flex-row">
  {{!-- Menu --}}
  <div class="bg-blue-700 text-white w-1/6 p-3 pb-1">
    <button type="button" id="bt-menu-home" class="menu-button">Home</button>
    <button type="button" id="bt-menu-crud" class="menu-button">The CRUD Layout</button>
  </div>

  {{!-- Body --}}
  <div id="router-area" class="bg-white flex-grow"></div>
</div>

{{!-- Footer --}}
<div class="bg-blue-800 text-white text-sm text-right pr-4 py-2">
  &copy; Honatas 2020 - <a href="https://github.com/honatas/frameworkless-jamstack" target="_blank">https://github.com/honatas/frameworkless-jamstack</a>
</div>
