<div class="p-4 text-justify">
  <div id="home-area" class="mx-auto mb-3">
    <p>
      This website is a Proof of Concept (PoC) - it shows that it is possible to have fast and lightweight web applications with a modern
      development structure without resorting to overcomplex and feature-bloated frameworks.
    </p>
    <p class="home-title">&bull; But why?</p>
    <p>
      Most of the time, all web applications we are making are actually master-detail pages for CRUDs, not home brokers. Data doesn't change 
      in real-time and you don't need "blazing fast" rendering, just normal DOM speed is more than enough. Data binding and Virtual DOM rendering 
      are overkill in these cases, taking up machine resources (memory, cpu) you'll not exactly take much advantage of.
    </p>
    <p class="home-title">&bull; So what, get back to old-times vanilla?</p>
    <p>
      Of course not. Typescript is here to stay. Also, the concepts of SPA (Single Page Applications) and having a bundled single javascript 
      file are too good to be left aside. So the proposal here is to get all of these without resorting to any overcomplex Virtual DOM framework.
    </p>
    <p class="home-title">&bull; Why is this page so ugly?</p>
    <p>
      That's because I'm a developer. My sense of aesthetics is completely obfuscated by my extremely logical thinking. Also, it is not responsive
      because css magic is out of the scope of this PoC. With all of this stuff out of the way, let's move on.
    </p>
    <p class="home-title">&bull; Okay, where is it?</p>
    <p>
      Check <button id="bt-link-crud" class="text-blue-600">CRUD Example</button> for a sample page with many elements of a master-detail layout;<br/>
      Check <button id="bt-link-tech" class="text-blue-600">Technologies</button> for a detailed breakdown on the hows and whys.
    </p>
  </div>
</div>
