<div class="p-3 text-center">
  <div class="">Hello !</div>
  {{!-- But why is this page so ugly?
  That's because I'm a developer. My sense of aesthetics is completely obfuscated by my extreme logical thinking. Since this is not an art class, just bear with it and let's move on, ok? Ok, good. Now click on any menu item please. --}}
</div>
